# ========================
# Node / React
# ========================
node_modules/
admin/node_modules/
mobile/node_modules/
build/
dist/

# ========================
# Spring Boot / Maven
# ========================
target/
*.jar
*.war
*.log

# ========================
# Environment
# ========================
.env
*.env

# ========================
# IDE
# ========================
.idea/
.vscode/
*.iml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
